.turistic-form-title-placeholder,
.turistic-form-description-placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #858585;

    @media (min-width: 2500px) {
        font-size: 32px;
        font-weight: 400;
        line-height: 37.5px;
    }
}

.turistic-form-title-placeholder {
    display: block;
    width: 328px;
    height: 56px;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    padding: 16px;

    @media (min-width: 491px) and (max-width: 1024px) {
        width: 100%;
        height: 131px;
        margin-top: 15px;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        width: 100%;
        height: 54px;
        margin-top: 15px;
    }

    @media (min-width: 2500px) {
        width: 575px;
        height: 64px;
    }
}

.turistic-form-description-placeholder {
    margin-top: 20px;
    display: block;
    overflow-y: hidden;
    resize: none;
    width: 417px;
    height: 136px;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    padding: 40px 20px 72px;

    @media (min-width: 491px) and (max-width: 1024px) {
        width: 100%;
        height: 94px;
        margin-top: 19px;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        width: 100%;
        height: 131px;
        margin-top: 19px;
    }

    @media (min-width: 2500px) {
        margin-top: 16px;
        width: 725px;
        height: 320px;
    }
}

.point-turistic-title {
    width: 283px;
    height: 38px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin: 60px 0px 38px;

    @media (min-width: 491px) and (max-width: 1024px) {
        margin: 40px 0 32px;
    }
    @media (min-width: 280px) and (max-width: 490px) {
        font-size: 28px;
        margin: 40px 0 32px;
        width: 100%;
        height: 100%;
    }

    @media (min-width: 2500px) {
        font-size: 64px;
        line-height: 120%;
        width: max-content;
        height: unset;
        margin-bottom: 41px;
    }
}

.turistic-form-inputs {
    position: relative;
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    height: 212px;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: 280px) and (max-width: 1024px) {
        height: fit-content;
    }

    @media (min-width: 2500px) {
        height: 400px;
    }
}

.turistic-form {
    width: 780px;

    @media (min-width: 280px) and (max-width: 1024px) {
        width: 100%;
    }

    @media (min-width: 2500px) {
        width: 1350px;
    }
}

.turistic-form-description {
    margin-block-start: auto;
}

.turistic-title {
    width: 477px;
    display: block;
    color: #000000;
    margin: 0 0 40px 0px;
    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;

    @media (min-width: 280px) and (max-width: 490px) {
        font-size: 28px;
        width: 100%;
    }

    @media (min-width: 2500px) {
        width: 100%;
        font-size: 64px;
    }
}

.turistic-form-submit-button {
    display: block;
    border: 1px solid #ff5a5f;
    border-radius: 8px;
    color: white;
    background-color: #ff5a5f;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 16px;
    margin: 16px 0 0 auto;
    padding: 16px 20px;
    gap: 10px;
    transition: 150ms;

    &:hover {
        background-color: #ff4147;
        cursor: pointer;
    }
    &:active {
        background-color: #ff5a5f;
    }

    @media (min-width: 480px) and (max-width: 1024px) {
        width: 100%;
        margin-top: 26px;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        margin-top: 10px;
        width: 100%;
    }

    @media (min-width: 2500px) {
        font-size: 32px;
        line-height: 150%;
    }
}

.turistic-form-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 212px;
    width: 343px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    @media (min-width: 491px) and (max-width: 1024px) {
        width: 100%;
        height: 570px;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        width: 100%;
        height: 212px;
    }

    @media (min-width: 2500px) {
        width: 600px;
        height: 400px;
    }
}

.input-image {
    z-index: 1;
    display: none;
}

.turistic-form-image-output {
    border-radius: 1px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.span-input-image {
    color: #858585;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 2500px) {
        line-height: 48px;
        font-size: 32px;
    }
}

.display-none {
    display: none;
}
