.turistic-form-title-placeholder,
.turistic-form-description-placeholder,
.turistic-form-image-input {
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #858585;
}

.turistic-form-title-placeholder {
    display: block;
    width: 328px;
    height: 56px;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    padding: 16px;

    @media (min-width: 491px) and (max-width: 1024px) {
        width: 100%;
        height: 131px;
        margin-top: 17px;
    }
}

.turistic-form-description-placeholder {
    display: block;
    overflow-y: hidden;
    resize: none;
    width: 417px;
    height: 136px;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    padding: 40px 20px 72px;

    @media (min-width: 491px) and (max-width: 1024px) {
        width: 100%;
        height: 94px;
        margin-top: 19px;
    }
}

.input-image {
    z-index: 2;
    position: absolute;
}
.turistic-form-image-output {
    max-height: 100%;
    max-width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    width: 343px;
    height: 212px;

    @media (min-width: 491px) and (max-width: 1024px) {
        width: 100%;
        height: 570px;
    }
}
.point-turistic-title {
    width: 283px;
    height: 38px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin: 60px 0px 38px;

    @media (min-width: 491px) and (max-width: 1024px) {
        margin: 40px 0px 32px;
    }
}

.turistic-form-inputs {
    position: relative;
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    height: 212px;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: 280px) and (max-width: 1024px) {
        height: fit-content;
    }
}

.turistic-form {
    width: 780px;

    @media (min-width: 280px) and (max-width: 1024px) {
        width: 100%;
    }
}

.turistic-form-description {
    margin-block-start: auto;
}

.turistic-title {
    width: 477px;
    display: block;
    color: #000000;
    margin: 0 0 40px 0px;
    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;

    @media (min-width: 280px) and (max-width: 490px) {
        width: 332px;
    }

    @media (min-width: 2500px) {
        width: 100%;
        font-size: 64px;
    }
}

.turistic-form-submit-button {
    display: block;
    border: 1px solid #ff5a5f;
    border-radius: 8px;
    color: white;
    background-color: #ff5a5f;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 16px;
    margin: 16px 0 0 auto;
    padding: 16px 20px;
    gap: 10px;
    transition: 150ms;

    &:hover {
        background-color: #ff4147;
        cursor: pointer;
    }
    &:active {
        background-color: #ff5a5f;
    }

    @media (min-width: 280px) and (max-width: 1024px) {
        width: 100%;
    }
}
