.cards-result-render {
    display: flex;
    max-width: 100%;
    list-style: none;
    gap: 21px;
    margin: auto;
    @media (min-width: 491px) and (max-width: 1024px) {
        display: block;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        display: block;
    }
}

.item-description-render {
    word-break: break-word;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: 2500px) {
        font-size: 32px;
        line-height: 48px;
    }
}

.description-container {
    margin-top: 8px;
    height: fit-content;
    width: 105%;
    overflow-y: auto;
    height: 96px;

    scrollbar-width: auto;
    scrollbar-color: #d1d1d1 #ffffff;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d1d1d1;
        border-radius: 80px;
        border: 3px solid #ffffff;
    }

    @media (min-width: 491px) and (max-width: 1024px) {
        height: 24px;
        width: 100%;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        width: 100%;
        height: 72px;
    }

    @media (min-width: 2500px) {
        height: 192px;
    }
}

.item-title-render {
    word-break: break-word;
    width: 231px;
    height: 60px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    @media (min-width: 491px) and (max-width: 1024px) {
        margin-top: 68px;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        display: block;
    }

    @media (min-width: 2500px) {
        font-size: 48px;
        line-height: 56px;
    }
}
.card-li {
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 279px;
    height: 424px;
    overflow: hidden;
    @media (min-width: 491px) and (max-width: 1024px) {
        width: 100%;
        height: 100%;
        margin-top: 24px;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        width: 100%;
        height: 100%;
        margin-top: 24px;
    }

    @media (min-width: 2500px) {
        width: 544px;
        height: 768px;
    }
}

.info-container-div {
    width: 100%;
    padding: 24px;

    @media (min-width: 2500px) {
        height: 50%;
    }
}

.card-image {
    height: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    height: 50%;
    width: 100%;

    @media (min-width: 491px) and (max-width: 1024px) {
        height: 570px;
        width: 100%;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        height: 212px;
        width: 100%;
    }
}

.image-container-render {
    /* width: 100%; */
    height: 100%;

    @media (min-width: 491px) and (max-width: 1024px) {
        height: 570px;
        width: 100%;
    }

    @media (min-width: 280px) and (max-width: 490px) {
        height: 212px;
        width: 100%;
    }
}

.tittle-container {
    min-height: 60px;
    width: 100%;

    @media (min-width: 2500px) {
        height: 120px;
    }
}

.slick-prev {
    background: url("assets/arrowleft.png") no-repeat center center;
    color: #858585;

    @media (min-width: 2500px) {
        background: url("assets/arrowleft2.png") no-repeat center center;
        height: 58px;
        width: 26px;
        left: -66px;
    }
}

.slick-next {
    background: url("assets/arrowright.png") no-repeat center center;
    color: #858585;

    @media (min-width: 2500px) {
        background: url("assets/arrowright2.png") no-repeat center center;
        height: 58px;
        width: 26px;
        right: -66px;
    }
}

.slick-slide {
    margin-right: 21px;
}

.slick-track {
    height: 440px;
}
