@import "utils/variables.scss";

@import "common/reset.scss";
@import "common/global.scss";

@import "partials/containers.scss";
@import "partials/form.scss";
@import "partials/items.scss";

.turistic-tittle {
    width: 477px;
    display: block;
    color: #000000;
    margin: 40px 130px;
    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}
