* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.turistic-form-submit-button {
    display: block;
    border: 1px solid #ff5a5f;
    border-radius: 8px;
    color: white;
    background-color: #ff5a5f;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 16px;
    margin: 16px 788px;
    padding: 16px 20px;
    gap: 10px;
}
